.header_container {
  height: 100%;
  width: 27%;
  background-color: rgba(63, 63, 65, 0.788);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.header_container > a > div {
  color: white;
}

#profPic {
  width: 120px;
  border-radius: 40px;
}
.header_container > ul a {
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: column;
  align-items: center;
}

.header_container > ul li {
  background: none;
  border: none;
  color: orange;
}
.header_container > a:hover,
.header_container > div button:hover {
  cursor: pointer;
}
